{
  "accounts": {
    "deployer": "privateKey"
  },
  "alchemy": {
    "apiKey": "apiKey"
  },
  "verification": {
    "bscScan": "apiKey",
    "polygonScan": "apiKey"
  },
  "coinmarketcap": {
    "apiKey": "apiKey"
  }
}
